<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd"
        >

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:config/config.properties"/>
    </bean>

    <bean id="calculatorFactoryBean" class="com.calculator.app.http_server.impl.CalculatorFactory" scope="singleton">
        <constructor-arg value="${maxUsersNumber}"/>
        <constructor-arg value="${port}"/>
    </bean>

    <bean id="server" factory-bean="calculatorFactoryBean" factory-method="newServer" scope="singleton"
          init-method="startServer" destroy-method="stopServer"/>

</beans>